.hobbies{
    flex-grow: 1.0;
    margin-top: 115px;
}
.hobbie_container{
    max-width: 900px;
}
.hobbie_h1{
    margin-bottom: 30px;
    padding-left: 5%;
}
.hobbie_list{
    flex-wrap: wrap;
    padding: 0 5%;
}

.hobbie_list_item{
    flex: 45%;
    /* max-width: 500px; */
    padding: 20px 20px 20px 20px;

    margin-right: 30px;
    margin-bottom: 30px;

    border-radius: 20px;
    box-shadow: 7px 7px 5px #EDF7FA, -5px -5px 10px #EDF7FA;
    transition: 0.5s ease all;
}
.hobbie_list_item:hover{
    box-shadow: 10px 10px 4px #EDF7FA, -8px -8px 10px #EDF7FA;
    
}
.hobbie_list_item:nth-child(even){
    margin-right: 0;
}
.hobbie_name{
    color: #FF6464;
    font-size: 36px;
}

.hobbie_desc{
    color: #21243D;
    font-size: 22px;
}


@media (max-width: 608px){
    .hobbie_list{
        justify-content: center;

    }
    .hobbie_list_item{

        flex: 60%;
        max-width: 450px;
        margin-right: 0;
    }

    .hobbie_name{
        color: #FF6464;
        font-size: 32px;
    }
    
    .hobbie_desc{
        color: #21243D;
        font-size: 20px;
    }

}
